<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sections</key>
		<array>
			<dict>
				<key>sectionImage</key>
				<string></string>
				<key>sectionTitle</key>
				<string></string>
				<key>tags</key>
				<array>
					<string>内衣</string>
					<string>中国风</string>
					<string>度假</string>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>已关注的标签</string>
	</dict>
	<dict>
		<key>sections</key>
		<array>
			<dict>
				<key>sectionImage</key>
				<string></string>
				<key>sectionTitle</key>
				<string></string>
				<key>tags</key>
				<array>
					<string>复古</string>
					<string>日系甜美</string>
					<string>御姐范</string>
					<string>就要代言购</string>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>热门标签</string>
	</dict>
	<dict>
		<key>sections</key>
		<array>
			<dict>
				<key>sectionImage</key>
				<string>section1</string>
				<key>sectionTitle</key>
				<string>风格标签</string>
				<key>tags</key>
				<array>
					<string>欧美</string>
					<string>英伦</string>
					<string>韩系</string>
					<string>日系</string>
					<string>中国风</string>
					<string>民族风</string>
					<string>朋克</string>
					<string>街头</string>
					<string>运动</string>
					<string>休闲</string>
					<string>极简</string>
					<string>中性</string>
					<string>复古</string>
					<string>田园</string>
				</array>
			</dict>
			<dict>
				<key>sectionImage</key>
				<string>section2</string>
				<key>sectionTitle</key>
				<string>流行单品</string>
				<key>tags</key>
				<array>
					<string>阔腿裤</string>
					<string>白衬衫</string>
					<string>小白鞋</string>
					<string>连衣裙</string>
					<string>双肩包</string>
					<string>墨镜</string>
					<string>棒球衫</string>
					<string>牛仔外套</string>
					<string>百褶裙</string>
					<string>松糕鞋</string>
					<string>手拿包</string>
					<string>sneaker</string>
					<string>内衣</string>
					<string>西装</string>
					<string>牛仔裤</string>
					<string>链条包</string>
					<string>九分裤</string>
					<string>背带裤</string>
				</array>
			</dict>
			<dict>
				<key>sectionImage</key>
				<string>section3</string>
				<key>sectionTitle</key>
				<string>场景标签</string>
				<key>tags</key>
				<array>
					<string>校园</string>
					<string>通勤</string>
					<string>约会</string>
					<string>居家</string>
					<string>度假</string>
					<string>海边</string>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>搭配标签</string>
	</dict>
</array>
</plist>
